<launch>
  <include file="$(find turtlebot/turtlebot_bringup/launch/minimal.launch)" />
  <node name="brain_server" pkg="ros_brain" type="brain_server">
    <param name="genome" type="string" value="/home/iaac/brain_ws/genome/test.mng" />
  </node>
  <node name="brain_controller" pkg="ros_brain" type="brain_controller.py" output="screen" />
</launch>